<%= simple_form_for @prose do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="medium-6 columns"><%= f.input :title %></div>
    <div class="medium-6 columns"><%= f.input :genres, collection: Genre.all.order(:name) %></div>
  </div>
  <%= f.input :description, label: 'Story' %>

  <%= f.button :submit %>

<% end %>
