<div class="row">
  <div class="small-9 small-centered columns">
    <%= simple_form_for @prose do |f| %>
      <%= f.error_notification %>
      <% if current_user == @prose.user %>
        <div class="row">
          <div class="medium-6 columns"><%= f.input :title %></div>
          <div class="medium-6 columns"><%= f.input :genres, collection: Genre.all.order(:name) %></div>
        </div>
      <% end %>

      <%= f.input :description, label: 'Story' %>
      <% if current_user == @prose.user %>
        <%= f.submit "Edit Prose", class:'button small' %>
      <% else %>
        <%= f.submit "Submit Review", class:'button small' %>
      <% end %>

    <% end %>
  </div>
</div>
