<div class="row">
  <div class="small-10 small-centered columns">
    <div class="row">
      <%= simple_form_for :search, url: search_path, html: { method: :get, id: 'prose_search' } do |f| %>
        <div class="medium-8 columns"><%= f.input :search, :required => false %></div>
        <div class="medium-4 columns"><%= f.input :genre, collection: Genre.all.order(:name), :required => false %></div>
    </div>
        <%= f.button :submit, "Search" %>
      <% end %>
    <div id="proses_content" class="search-results">
      <% if @proses.empty? %>
        <div class="no-matches">
          <span id="sorry">Oh no!</span> <p>There were no matches. Why not make your own?</p>
        </div>
      <% else %>
        <% @proses.each do |prose| %>
          <div class="search-links">
            <%= link_to prose.title, user_prose_path(prose.user ,prose) %>
          </div>
        <% end %>
      <% end %>
      <%= will_paginate @proses %>
    </div>
  </div>
</div>
