<div>
  <% if current_user == @prose.user %>
    <%= link_to 'Edit', edit_prose_path(@prose)%>
  <% else %>
    <%= link_to 'Beta-Read!', edit_prose_path(@prose)%>
  <% end %>
</div>
<div>
  <h1><%= @prose.title %></h1>
  <%= @prose.user.username %>
</div>

<div>
  <%= @prose.description %>
</div>

