<div class="row">
  <div class="small-9 small-centered columns" id="story-canvas">
    <div class="row">
      <span id="edit-links" class="small-4 columns">
        <% if user_signed_in? %>
          <% if current_user == @prose.user %>
            <ul class="button-group round" id="beta-edit button">
              <li class="button small"><%= link_to 'Edit', edit_prose_path(@prose)%></li>
              <li class="button small"><%= link_to 'Delete', prose_path(@prose), method: :delete%></li>
            </ul>
          <% else %>
            <div class="button small round" id="beta-read-button">
              <%= link_to 'Beta-Read!', edit_prose_path(@prose)%>
            </div>
          <% end %>
        <% end %>
      </span>

      <span id="select_form" class="small-5 columns">
        <%= simple_form_for :version, url: user_prose_path(@prose.user.id, @prose), html: { method: :get, id: 'version_select' } do |f| %>
          <div class="small-3" id="the-version"><%= f.input :version, collection: @prose.all_versions, :required => false %></div>
          <div class="small-3"><%= f.button :submit, 'Select Version', class:'round' %></div>
        <% end %>
      </span>

    </div>

    <div id="prose-content">
      <h1><%= @prose.title %></h1>
        <div class="prose-user">
          By <%= @prose.user.username %>
        </div>
      <% @prose.genres.each do |genre| %>
        <div class="prose-genre">
          <%= genre.name %>
        </div>
      <% end %>
    </div>
    <% renderer = Redcarpet::Render::HTML.new(:no_links => true, :hard_wrap => true, :space_after_headers => true,) %>
    <% markdown = Redcarpet::Markdown.new(renderer,) %>
    <div id="prose-story">
      <%= raw markdown.render(@story) %>
    </div>
    <div class="button round">
      <span id="back-link"><%= link_to 'Back', :back %></span>
    </div>
  </div>
</div>
