<div class="row">
  <div class="small-9 small-centered columns" id="story-canvas">
    <div class="row">
      <div id="edit-links">
        <% if user_signed_in? %>
          <% if current_user == @prose.user %>
            <ul class="button-group round">
              <li class="button small"><%= link_to 'Edit', edit_prose_path(@prose)%></li>
              <li class="button small"><%= link_to 'Delete', prose_path(@prose), method: :delete%></li>
            </ul>
          <% else %>
            <div class="button small">
              <%= link_to 'Beta-Read!', edit_prose_path(@prose)%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <h1><%= @prose.title %></h1>
        <div class="prose-user">
          By <%= @prose.user.username %>
        </div>
      <% @prose.genres.each do |genre| %>
        <div class="prose-genre">
          <%= genre.name %>
        </div>
      <% end %>
    </div>

      <% unless @prose.versions.nil?%>
        <% @prose.all_versions.each do |version| %>
          <div>
            <%= version[:desc] unless version.nil?%>
          </div>
        <% end %>
      <% end %>
    <div>
      <%= @prose.description %>
    </div>
    <div>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>
