<div class="row">
  <div class="small-9 small-centered columns" id="story-canvas">
    <div class="row">
      <div id="edit-links">
        <% if user_signed_in? %>
          <% if current_user == @prose.user %>
            <ul class="button-group round">
              <li class="button small"><%= link_to 'Edit', edit_prose_path(@prose)%></li>
              <li class="button small"><%= link_to 'Delete', prose_path(@prose), method: :delete%></li>
            </ul>
          <% else %>
            <div class="button small round" id="beta-read-button">
              <%= link_to 'Beta-Read!', edit_prose_path(@prose)%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <h1><%= @prose.title %></h1>
        <div class="prose-user">
          By <%= @prose.user.username %>
        </div>
      <% @prose.genres.each do |genre| %>
        <div class="prose-genre">
          <%= genre.name %>
        </div>
      <% end %>
    </div>

      <%= simple_form_for :version, url: user_prose_path(@prose.user.id, @prose), html: { method: :get, id: 'version_select' } do |f| %>
        <%= f.input :version, collection: @prose.all_versions, :required => false %>
        <%= f.button :submit %>
      <% end %>

    <div>
      <%= @story %>
    </div>
    <div>
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>
