<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "" %>BetaBuddy</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <% prose = Prose.random_prose %>
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'BetaBuddy', root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href=>Menu</a>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active">
          <%= link_to 'Feeling Lucky?', user_prose_path(prose.user, prose) unless prose.nil? %>
        </li>
        <li class="divider"></li>
        <li class="active">
          <%= link_to 'Search', search_path %>
        </li>
        <li class="divider"></li>
        <li class="active">
          <% if user_signed_in? %>
            <%= link_to 'New Story', new_prose_path %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li class="active">
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li class="active">
          <% unless user_signed_in? %>
            <%= link_to 'Sign Up!', new_user_registration_path %>
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
  <!-- Fly-away Side Nav -->
  <div id="sidenavbar" class="slideInLeft">
    <%= link_to(image_tag('BetaBuddy-100.jpg',id: "side-logo"), root_path) %>
    <ul class="five side-nav">
      <li class="active" id="side-logo-name">
        <%= link_to 'BetaBuddy', root_path %>
      </li>
      <li class="active">
        <% unless user_signed_in? %>
            <%= link_to 'Sign Up!', new_user_registration_path %>
        <% end %>
      </li>
      <li class="active">
        <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'Sign In', new_user_session_path %>
        <% end %>
      </li>
      <li class="active">
        <% if user_signed_in? %>
            <%= link_to 'New Story', new_prose_path %>
        <% end %>
      </li>
      <li class="active">
        <%= link_to 'Search', search_path %>
      </li>
      <li class="active">
        <%= link_to 'Feeling Lucky?', user_prose_path(prose.user, prose) unless prose.nil? %>
      </li>
    </ul>
  </div>
  <div id="body-content">
    <div class="row">
      <div class="small-6 small-centered columns" id="alerts">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </div>
  </body>
</html>
